<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{.OgType}}: http://ogp.me/ns/{{.OgType}}#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{if .PageTitle}}{{.PageTitle}} - {{end}}{{.SiteTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css" />
    <!-- this style is inspired from Swayz http://ghost.woothemes.com/ -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/kosei-pic.png" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">

    <meta property="og:title" content="{{.PageTitle}}" />
    <meta property="og:type" content="{{.OgType}}" />
    <meta property="og:url" content="{{.URL.String}}" />
    <meta property="og:site_name" content="{{.SiteTitle}}" />
    <meta property="og:image" content="{{.URL.Scheme}}://{{.URL.Host}}/images/kosei-pic.png" />

    {{$ogDesc := .SiteShortDesc}}
    {{if ge .ArticleIndex 0}}
    {{$post := index .Posts .ArticleIndex}}
    {{$ogDesc = shorten $post.Content}}
    {{end}}
    <meta property="og:description" content="{{$ogDesc}}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{.TwitterAccount}}" />
</head>

<body>

<div id="wrapper">

<header class="site-header">
    <a href="/" title="Home">
        <img src="/images/kosei-pic.png" title="logo" width="73">
    </a>
    <h1><a href="/">{{.SiteTitle}}</a></h1>
    <h2>{{.SiteShortDesc}}</h2>
    <section class="icons">
        <a href="/about.html"><i class="far fa-smile fa-2x"></i></a>
        <a href="https://twitter.com/cou929"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://github.com/cou929/"><i class="fab fa-github-alt fa-2x"></i></a>
        <a href="/rss.xml"><i class="fas fa-rss fa-2x"></i></a>
    </section>
</header>
