<div style="text-align: center">
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'I3I2CF1JC'); kofiwidget2.draw();</script>
</div>

<footer>
    <p>&copy; {{.BuiltAt.Year}} <a href="/">Kosei Moriyama</a></p>
    <section class="icons">
        <a href="/"><i class="fas fa-home fa-2x"></i></a>
        <a href="/about.html"><i class="far fa-smile fa-2x"></i></a>
        <a href="https://twitter.com/cou929"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://github.com/cou929/"><i class="fab fa-github-alt fa-2x"></i></a>
        <a href="/rss.xml"><i class="fas fa-rss fa-2x"></i></a>
    </section>
</footer>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/c.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/coffeescript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/csharp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/d.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/generic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/haskell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/lua.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/php.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/r.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/ruby.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/scheme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/shell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/smalltalk.min.js"></script>
<script>
    Rainbow.extend("sql", [
        {
            name: "constant",
            pattern: /\b(false|null|true)\b/gi
        },
        {
            // see http://docs.oracle.com/javase/tutorial/java/nutsandbolts/_keywords.html
            name: "keyword",
            //	An attempt at listing the most common keywords. Add to this as needed.
            pattern: /\b(select|from|insert|update|package|as|procedure|xmltype|function|return|varchar|varchar2|char|number|long|float|double|integer|int|date|timestamp|out|body|rowtype|values|into|nextval|begin|end|table|type|loop|constant|exception|pragma|exception_init|is|not|while|then|else|raise|others|when|delete|merge|union|commit|rollback|clob|if|elsif|join|using|set|values|sysdate|inner|outer|exists|distinct|sequence|on|matched|where|and|rownum|boolean|default|count|cursor|for|in)\b/gi
        },
        {
            name: "string",
            pattern: /'([^']|(''))*'/g
        },
        {
            name: "number",
            pattern: /\b[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?\b/g
        },
        {
            name: "comment",
            pattern: /\/\*[\s\S]*?\*\/|(--).*?$/gm
        },
        {
            name: "operator",
            pattern: /(\+{1,2}|-{1,2}|~|!|\*|\/|%|(?:&lt;){1,2}|(?:&gt;){1,3}|(?:&amp;){1,2}|\^|\|{1,2}|\?|:|(?:=|!|\+|-|\*|\/|%|\^|\||:=|(?:&lt;){1,2}|(?:&gt;){1,3})?=)/g
        }
    ], true);
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-848190-6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-848190-6');
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('a').forEach(function (el) {
            if (el.getAttribute('href').indexOf('amazon.co.jp') != -1 && el.getAttribute('href').indexOf('pleasesleep-22') != -1) {
                el.addEventListener('click', function () {
                    gtag('event', document.title, {'event_category': 'af', 'event_label': 'amazon'})
                })
            }
        })
    });
</script>

</body>

</html>
