<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="ads">
    <ins class="adsbygoogle" id="my-adsbygoogle"
        style="display:inline-block;width:468px;height:60px"
        data-ad-client="ca-pub-5181612862371568"
        data-ad-slot="4398811734"></ins>
    <script>
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        var ins = document.getElementById('my-adsbygoogle');
        ins.setAttribute('style', 'display:block');
        ins.setAttribute('data-ad-client', 'ca-pub-5181612862371568');
        ins.setAttribute('data-ad-slot', '9803614137');
        ins.setAttribute('data-ad-format', 'auto')
    }
    </script>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<footer>
    <p>&copy; {{.BuiltAt.Year}} <a href="/">Kosei Moriyama</a></p>
    <section class="icons">
        <a href="/"><i class="fa fa-home fa-2x"></i></a>
        <a href="/about.html"><i class="fa fa-smile-o fa-2x"></i></a>
        <a href="https://twitter.com/cou929"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://github.com/cou929/"><i class="fa fa-github-alt fa-2x"></i></a>
        <a href="/rss.xml"><i class="fa fa-rss fa-2x"></i></a>
    </section>
</footer>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/c.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/coffeescript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/csharp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/d.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/generic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/haskell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/lua.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/php.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/r.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/ruby.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/scheme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/shell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/smalltalk.min.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-848190-6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-848190-6');
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('a').forEach(function (el) {
            if (el.getAttribute('href').indexOf('amazon.co.jp') != -1 && el.getAttribute('href').indexOf('pleasesleep-22') != -1) {
                el.addEventListener('click', function () {
                    gtag('event', document.title, {'event_category': 'af', 'event_label': 'amazon'})
                })
            }
        })
    });
</script>

</body>

</html>
