name: tweet an update

on:
  schedule:
    - cron: "1 16 * * *"
  workflow_dispatch:

jobs:
  tweet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: fetch a latest post
        id: fetch_latest
        run: |
          latest=$(git log --since '1 days ago' --name-status --pretty=format:"" post | egrep '^A.*?.md$' | head -n1 | cut -f2)
          echo "::set-output name=title::$(head -n1 ${latest} | jq -r .title)"
          echo "::set-output name=file::$(basename ${latest} | sed -e 's/.md$/.html/')"

      - name: post tweet
        uses: ethomson/send-tweet-action@v1
        if: ${{ steps.fetch_latest.outputs.title != '' }}
        with:
          status: "test\n${{steps.fetch_latest.outputs.title}}\nhttps://please-sleep.cou929.nu/${{steps.fetch_latest.outputs.file}}"
          consumer-key: ${{ secrets.TWITTER_CONSUMER_API_KEY }}
          consumer-secret: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
          access-token: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          access-token-secret: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
