{{$pageTitle := "About me"}}
{{template "partial/former.html" .}}

<section class="articles">
    <article>
        <header>
            <h1><a href="{{.URL.Path}}">{{$pageTitle}}</a></h1>
        </header>
        <section>
            <p><img class="profile" src="/images/profile.jpg" /></p>
            <p>Kosei Moriyama. Software Engineer. Tokyo.</p>

            <h3>Work Experiences</h3>

            <ul>
                <li>
                    Software Engineer at <a href="https://www.parallelcorp.com/">Parallel Inc.</a> <span class="duration">(Apr 2021 - Present)</span>
                    <ul>
                        <li>Parallel (Voice chat app)</li>
                    </ul>
                </li>

                <li>
                    Senior Engineering Manager at <a href="https://hey.jp/">hey, Inc.</a> <span class="duration">(Apr 2018 - Mar 2021)</span>
                    <ul>
                        <li>Coiney (Payment Service)
                            <ul>
                                <li>ref. <a href="https://docs.google.com/presentation/d/1V9D-FaVS2QMNbmQor850k7SD06hdByoqMGMUAGMRhL0/edit#slide=id.p">Hello hey for Engineers! Coiney inside 2018-06-27</a></li>
                            </ul>
                        </li>
                        <li>STORES あと払い (Payment Service)
                            <ul>
                                <li>ref. <a href="https://docs.google.com/presentation/d/e/2PACX-1vRbFr-hf34OdhGXmQ7K0bS5lQ4hmdBT5lEzwo0h5-ZuNUIedAOOMyUj3li0wQ_T37wNPAQ64m_Z6zx8/pub?start=false&loop=false&delayms=3000&slide=id.ac3a1b20-415b-11ea-b23b-4d332b9f4bce">Coiney ツケ払いと Go - howtv.go #1</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    Tech Lead at <a href="https://www.fout.co.jp/">FreakOut Holdings, inc.</a> <span class="duration">(Mar 2012 - Mar 2018)</span>
                    <ul>
                        <li>Freakout DSP (Demand Side Platform)</li>
                        <li>Hike, Line Ads Platform (Mobile Ad Network)
                            <ul>
                                <li><a href="https://docs.google.com/presentation/d/1EX1oq3Bde0k6OXxv51lACR2myQe6VqgiW6VNozQjcZY/edit">ref.</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    Software Engineer at <a href="https://about.yahoo.co.jp/">Yahoo! Japan</a> <span class="duration">(Apr 2010 - Feb 2012)</span>
                </li>
            </ul>

            <h3>Talks, Certifications and Others</h3>

            <h4>Talks</h4>

            <ul>
                <li>
                    Jan 2020
                    <ul>
                        <li>
                            <a href="https://docs.google.com/presentation/d/e/2PACX-1vRbFr-hf34OdhGXmQ7K0bS5lQ4hmdBT5lEzwo0h5-ZuNUIedAOOMyUj3li0wQ_T37wNPAQ64m_Z6zx8/pub?start=false&loop=false&delayms=3000&slide=id.ac3a1b20-415b-11ea-b23b-4d332b9f4bce">Coiney ツケ払いと Go - howtv.go #1</a>
                        </li>
                        <li>
                            at <a href="https://howtv.connpass.com/event/160678/">howtv.go #1</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Jun 2018
                    <ul>
                        <li>
                            <a href="https://docs.google.com/presentation/d/1V9D-FaVS2QMNbmQor850k7SD06hdByoqMGMUAGMRhL0/edit#slide=id.p">Hello hey for Engineers! Coiney inside</a>
                        </li>
                        <li>
                            at Hello hey for Engineer
                        </li>
                    </ul>
                </li>
                <li>
                    Nov 2015
                    <ul>
                        <li>
                            <a href="https://cou929.nu/docs/bq_sushi_no2/bq_sushi_no2_mtburn_slide.html">M.T.Burn の BigQuery 利用事例 - #bq_sushi tokyo #2</a>
                        </li>
                        <li>
                            at <a href="https://bq-sushi.connpass.com/event/21887/">#bq_sushi tokyo #2</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <h4>Certifications</h4>

            <ul>
                <li>
                    Jul 2021
                    <ul>
                        <li>
                            <a href="https://www.credly.com/badges/e3862d34-4b5b-4eb8-972e-c11b56343f84/public_url">CKAD: Certified
                                Kubernetes Application Developer</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <h4>Others</h4>

            <ul>
                <li>
                    Aug 2011
                    <ul>
                        <li>
                            <a href="https://cou929.nu/docs/how-browsers-work/">Translation of How Browsers Work - Behind the Scenes of Modern Web Browsers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Jul 2010
                    <ul>
                        <li>
                            <a href="https://cou929.nu/data/google_javascript_style_guide/">Translation of Google JavaScript Style Guide</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <h3>Links</h3>

            <ul>
                <li>
                    <a href="https://github.com/cou929/"><i class="fab fa-github-alt fa-1x"></i> GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/cou929"><i class="fab fa-twitter fa-1x"></i> Twitter</a>
                </li>
                <li>
                    <a href="https://please-sleep.cou929.nu/"><i class="fas fa-book fa-1x"></i>  Blog</a>
                </li>
                <li>
                    <a href="https://speakerdeck.com/cou929"><i class="fab fa-speaker-deck fa-1x"></i> Speaker Deck</a>
                </li>
            </ul>
        </section>
    </article>
</section>

{{template "partial/last.html" .}}
