{{$pageTitle := "About me"}}
{{template "partial/former.html" .}}

<section class="articles">
    <article">
        <header>
            <h1><a href="{{.URL.Path}}">{{$pageTitle}}</a></h1>
        </header>
        <section>
            <p><img width="300" src="/images/cam.jpg" /></p>
            <p>Kosei Moriyama. Software Engineer. Tokyo.</p>

            <h3>Links</h3>

            <ul>
                <li>
                    <a href="https://github.com/cou929/"><i class="fa fa-github-alt fa-1x"></i> GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/cou929"><i class="fa fa-twitter fa-1x"></i> Twitter</a>
                </li>
                <li>
                    <a href="https://speakerdeck.com/cou929"><i class="fa fa-microphone fa-1x"></i> Speacker Deck</a>
                </li>
            </ul>

            <h3>Blogs</h3>

            <ul>
                <li><a href="https://please-sleep.cou929.nu/">Please Sleep</a></li>
            </ul>

            <h3>Docs</h3>

            <ul>
                <li><a href="https://cou929.nu/data/google_javascript_style_guide/">Google JavaScript Style Guide 和訳 — Google JavaScript Style Guide 和訳</a></li>
                <li><a href="https://cou929.nu/docs/how-browsers-work/">How Browsers Work - Behind the Scenes of Modern Web Browsers — Translation of "How Browsers Work" v0.1 documentation</a></li>
                <li><a href="https://cou929.nu/docs/bq_sushi_no2/bq_sushi_no2_mtburn_slide.html">M.T.Burn の BigQuery 利用事例 - #bq_sushi tokyo #2</a></li>
                <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vRbFr-hf34OdhGXmQ7K0bS5lQ4hmdBT5lEzwo0h5-ZuNUIedAOOMyUj3li0wQ_T37wNPAQ64m_Z6zx8/pub?start=false&loop=false&delayms=3000&slide=id.ac3a1b20-415b-11ea-b23b-4d332b9f4bce">Coiney ツケ払いと Go - howtv.go #1</a></li>
            </ul>
        </section>
    </article>
</section>

{{template "partial/last.html" .}}
